/* font-family: 'Gentium Book Plus', serif;
font-family: 'Open Sans', sans-serif; */
*{
    margin:0;
    color:#B6EADA;
}

body{
    background-color: #03001C;
    background-image: url("img/3px-tile.png");
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Gentium Book Plus', serif;
    font-weight: 300;
}

p{
    font-family:'Open Sans',sans-serif;
}

.info{
    text-align: center;
    margin-bottom: 2rem;
}

.header{
    font-size:60px;
    margin: 2rem;
    text-align: center;
    font-weight: bold;
}

.card-container{
    display:flex;
    flex-wrap: wrap;
    flex-direction:row;
    justify-content: space-around;
}

.card-container:nth-child(1){
    margin-left: 8rem;
}



.card{
    /* display: flex;
    flex-direction: column; */
    transition:background-color 1s linear;
    position: relative;
    border-radius: 10px;
    /* border: 1px solid black; */
    /* overflow: hidden; */
    /* height: 15rem; */
    /* margin-right: 2rem; */
}

.slide{
    width:16rem;
    overflow: hidden;
}

.slide1,.slide2{
    position:relative;
}

.slide1{
    background-color: #3B185F;
    z-index: 3;
    height:14.4rem;
    transform: translateY(7.2rem);
    transition: all 1s ease-in-out;
}
.slide2{
    text-align: center;
    background-color: whitesmoke;
    z-index: 2;
    height:14.4rem;
    transform:translateY(-7.2rem);
    transition: all 1s ease-in-out;
}


.card-slide-img{
    /* object-position: 50% 0%; */
    object-fit: cover;
    /* aspect-ratio: initial; */
    z-index:4;
    height: 150px;
    width: 150px;
    position: absolute;
    left:50%;
    top:50%;
    border-radius: 50%;
    transform:translate(-50%,-50%);
    /* background-color: white; */
}

.card4 .card-slide-img{
    object-position: 50% 0% !important;
}

.blob1,.blob2,.blob3,.blob4{
    /* transform: scale(3); */
    display: block;
    z-index: 1;
    
}

.card-img{
    min-height:14.4rem;
    position:relative;
}

.card-img::after{
    content:" ";
    z-index:3;
    background-color: whitesmoke;
    /* position:relative; */
    height:149px;
    width:149px;
    position:absolute;
    transform:translate(-50%,-50%);
    border-radius: 50%;
    left:50%;
    top:50%;
    transition: all 1.5s ease-in-out;
}
.card1 .slide1{
    background-color:#f7a3aa;
}

.card3 .slide1{
    background-color:#5797d9;
}

.card4 .slide1{
    background-color:#917a6f;
}

.card1 .card-img::after{
    background-color: #F74F5C !important;
}

.card3 .card-img::after{
    background-color: #2E6FB1 !important;
}

.card4 .card-img::after{
    background-color: #a29088 !important;
}

img[class^="blob"]{
    z-index: 2;
    position: absolute;
    transition-delay: 1s;
    transition:transform 2s ease-in-out,all 1s ease-in-out;
}



.blob1{
    height: 5rem;
    width: 5rem;
    right:80%;
    bottom:80%;
}
.blob2{
    height: 10rem;
    width: 10rem;
    left:70%;
    top:70%;
}
.blob3{
    height:10rem;
    width:10rem;
    right:-30%;
    top:-30%;
}

.blob4{
    height:10rem;
    width:10rem;
    bottom:-35%;
    left:-35%;
}

.blob5{
    height:10rem;
    width:10rem;
    /* transform-origin: top left; */
    top:-45%;
    left:50%;
    transform: translate(-50%,0);
}

.blob6{
    height:10rem;
    width:10rem;
    /* transform-origin: top left; */
    bottom:-45%;
    left:50%;
    transform:translate(-50%,0);
}
/* .card:hover{
    background-color: whitesmoke;
} */
.card:hover .card-img::after{
    height:175px;
    width:175px;
}

.card:hover .slide1,.card:hover .slide2{
    transform: translateY(0);
}

.card:hover .blob1{
    right:65%;
    bottom:70%;
    transform: scale(2);
}
.card:hover .blob2{
    left:60%;
    left:65%;
    transform: scale(2);
}

.card:hover .blob3{
    right:-25%;
    top:-25%;
    transform: scale(2);
}

.card:hover .blob4{
    left:-15%;
    bottom:-15%;
    transform:scale(1.5);
}

.card:hover .blob5{
    scale:2;
    top:-35%;
    left:82%;
}

.card:hover .blob6{
    scale:2;
    bottom:-35%;
    left:83%;
    /* transform: translate(-50%,0); */
}

.card-content{
    position: relative;
    z-index:4;
    margin-top:3rem;
}

.card-container h2{
    font-size: 30px;
}

.card-content *{
    text-align: center;
    color: black;
}

.btn{
    font-family: 'Open Sans', sans-serif;
    margin-top:2rem;
    position: relative;
    z-index: 5;
    text-decoration: none;
    padding:7px;
    color: white;
    background-color: black;
    opacity: 0.6;
    display: inline-block;
    border-radius:15px;
    transition: all 1s ease-in-out;
}

.btn:hover{
    opacity: 1;
}



@media only screen and (max-width:514px){
    .slide1,.slide2{
        transform: translateY(0);
    }
    .card{
        margin-bottom:5rem;
    }
}